@import "../colors";

.Container {
  //height: Calc(100vh - 80px);
  //height: 100vh;
  min-height: Calc(100vh - 80px);
  width: 100%;

  display: flex;
  flex-direction: column;
}

.hidden {
  opacity: 0;
}

.Head-Container {
  display: flex;
  flex-direction: column;
  width: 100%;

  user-select: none;

  transition: 0.3s ease-in-out;

  .padding-left {
    padding: 0 5px 0 0;
  }

  .padding-right {
    padding: 0 0 0 5px;
  }

  .Date-nav {

    display: flex;
    flex-direction: row;

    .dateMonth {
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 84px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      cursor: pointer;

    }

    .dateYear {
      font-style: normal;
      font-weight: 200;
      font-size: 55px;
      line-height: 69px;
      display: flex;
      align-items: flex-end;
      text-align: right;

      cursor: pointer;
    }

    .button {
      padding: 0;
      background: initial;
      color: $text-color;
      font-size: 50px;
      border: none;

      &:focus {
        outline: none;
      }

      img {
        height: 50%;
        filter: invert(1);
      }
    }
  }

  .Release-nav {
    display: flex;
    flex-direction: row;


    font-size: 24px;
    line-height: 28px;

    font-weight: 200;

    .active {
      font-weight: normal;
    }
  }

}


.Days {
  //height: 100%;
  width: 100%;
  display: flex;
  flex: 1 0 auto;

  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;

  padding: 5px 0 5px 0;

  .day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    width: 13%;
    min-width: auto;
    height: Calc(125px + 24px);
    min-height: 125px;
    //margin: 24px auto auto 0;
    margin: 8px 4px 8px 4px;
    border-radius: 16px;

    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 5%));

    background: rgba(255, 255, 255, 5%);
    background-size: cover !important;


    transition: transform .2s;

    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 15%));
    }

    .dayNum {
      display: flex;
      justify-content: center;
      //background: $base-color;
      background: rgba(77, 77, 77, 33%);

      border-radius: 50%;
      font-size: 1.2rem;
      font-weight: bold;


      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      margin: 6px 0 0 6px;

      user-select: none;

    }

    .today {
      background-color: rgba(63, 127, 191, 65%);
    }

    .dayTitle {
      font-style: normal;
      font-weight: 500;
      font-size: Calc(0.05vw + 12px);
      line-height: Calc(0.2vw + 12px);
      display: flex;
      align-items: center;
      text-align: left;

      padding: 0 5px 5px 5px;
    }

    .daySubtitle {
      font-style: italic;
      font-weight: 200;
      font-size: Calc(0.1vw + 10px);
      line-height: Calc(0.2vw + 10px);
      display: flex;
      align-items: center;
      text-align: left;
      padding: 0 5px 5px 15px;
    }

    &:nth-child(7n) {
      margin-right: 0;
    }

    &:nth-child(7n-6) {
      margin-left: 0;
    }
  }

  .filledDay {
    cursor: default;

    &:hover {
      transform: none !important;
    }
  }

}

.loading {
  width: 100%;
  height: 100%;

  display: flex;
  position: fixed;
  left: 0;

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  background: $base-color;

  font-size: 6vw;
  text-align: center;
  //line-height: 100%;
  filter: grayscale(100%);

  transition: .2s ease-in-out;

  overflow: hidden;
  user-select: none;
  z-index: 999;
}

@media (max-width: 1024px) {
  .Days {
    display: flex;

    .filledDay {
      display: none;
    }

    .day {
      width: 30%;
      height: 40vh;

      min-height: 200px;

      .dayNum {
        font-size: 2rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
      }

      .dayTitle {
        //font-size: 3vw;
        font-size: Calc(1vw + 12px);
        line-height: 4vw;
      }

      .daySubtitle {
        font-size: Calc(1vw + 10px);
        line-height: 3vw;
      }

      &:hover {
        transform: none;
      }
    }
  }
}


@media (max-width: 700px) {
  .Days {
    flex-direction: column;

    .day {
      width: 100%;
      height: 40vh;
      border-radius: 20px;
    }
  }

}