@import "../colors";

.Container {
  width: 100%;

  display: grid;
  grid-gap: 5px;

}

.--hidden {
  opacity: 0;
}

.--overflow {
  overflow: hidden;
}

.HeadContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  user-select: none;

  transition: 0.3s ease-in-out;

  .HeadContainer__DateNav {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-auto-rows: 84px;
    grid-gap: 5px;
    //grid-template-rows: 1fr;


    .HeadContainer__DateNav_DateMonth {
      font-style: normal;
      font-weight: normal;
      font-size: 72px;
      line-height: 84px;
      display: grid;
      justify-content: start;
      align-items: end;

      cursor: pointer;

    }

    .HeadContainer__DateNav_DateYear {
      font-style: normal;
      font-weight: 200;
      font-size: 55px;
      line-height: 69px;
      display: grid;
      align-items: end;
      text-align: right;

      cursor: pointer;
    }

    .HeadContainer__Button {
      padding: 0;
      background: initial;
      color: rgb($text-color);
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      img {
        height: 40%;
        filter: invert(1);
      }
    }
  }

  .HeadContainer__ReleaseNav {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;


    font-size: 24px;
    line-height: 28px;

    font-weight: 200;

    .HeadContainer__ReleaseNav--active {
      font-weight: normal;
    }
  }

}

.Days {
  //height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 15%));
  //grid-template-rows: minmax(125px, 150px);
  grid-gap: 12px;
  grid-auto-rows: minmax(125px, 160px);
  grid-auto-columns: minmax(0, 13%);

  color: rgb($text-color);

  align-content: space-around;
  justify-content: space-between;

  padding: 5px 0 5px 0;

  .Days__Day {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3fr 1fr;


    cursor: pointer;

    border-radius: 16px;

    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 5%));

    background: rgba(255, 255, 255, 0.05);
    background-size: cover !important;

    transition: transform .2s;

    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 15%));
    }

    .Days__Day_DayNum {
      display: grid;
      justify-content: center;
      //background: $base-color;
      background: rgba(77, 77, 77, 33%);

      border-radius: 50%;
      font-size: 1.2rem;
      font-weight: bold;


      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      margin: 6px;

      user-select: none;

    }

    .Days__Day_DayNum--mToday {
      background-color: rgba(63, 127, 191, 65%);
    }

    .Days__Day_CardTitle {
      display: grid;
      align-items: center;
      text-align: left;

      padding: 0 5px 5px 10px;
    }

    .Days__Day_CardTitle--DayTitle {
      font-style: normal;
      font-weight: 500;
      font-size: Calc(0.05vw + 12px);
      line-height: Calc(0.2vw + 12px);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: .2s linear;


      &:hover {
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
      }

    }

    .Days__Day_CardTitle--DaySubtitle {
      font-style: italic;
      font-weight: 200;
      font-size: Calc(0.1vw + 10px);
      line-height: Calc(0.2vw + 10px);

    }

  }

  .Days__Day--filledDay {
    cursor: default;

    &:hover {
      transform: none !important;
    }
  }

}

.Loading {
  width: 100%;
  height: 100%;

  display: flex;
  position: fixed;
  left: 0;

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  background: rgb(var(--color-page-background));

  font-size: 6vw;
  text-align: center;
  //filter: grayscale(100%);

  transition: .2s ease-in-out;

  //overflow: hidden;
  user-select: none;
  z-index: 999;
}

@media (max-width: 1024px) {
  .Days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    grid-auto-rows: minmax(200px, 40vh);

    .Days__Day--filledDay {
      display: none;
    }

    .Days__Day {
      .Days__Day_DayNum {
        font-size: 2rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
      }

      .Days__Day_CardTitle--DayTitle {
        //font-size: 3vw;
        font-size: Calc(1vw + 12px);
        line-height: 4vw;
      }

      .Days__Day_CardTitle--DaySubtitle {
        font-size: Calc(1vw + 10px);
        line-height: 3vw;
      }

      &:hover {
        transform: none;
      }
    }
  }
}

@media (max-width: 700px) {
  .HeadContainer {
    .HeadContainer__DateNav {
      .HeadContainer__DateNav_DateMonth {
        font-size: 45px;
        line-height: 55px;
      }

      .HeadContainer__DateNav_DateYear {
        font-size: 36px;
        line-height: 49px;
      }
    }
  }

  .Days {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;

    .Days__Day {
      border-radius: 20px;
    }
  }

}