@import '../../colors';

.Footer {
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: rgb($text-color);

  .Footer__Right {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    height: 100%;
    width: 50%;
    text-align: start;

  }

  .Footer__Left {
    height: 100%;
    width: 50%;

    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 16px;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    text-align: end;


    .marker {
      font-size: 32px;
    }

    border: 0;

    .Footer__Left--github {
      filter: invert(1);
    }

    .Footer__Left--toggled {
      transform: rotateY(180deg);
      filter: grayscale(1);
    }

    a {
      text-decoration: none;
    }

    img {
      display: block;
      fill: rgb($text-color);
      transition: .3s linear;

    }
  }
}