@import '../../colors';

.FourZeroFour {
  display: grid;
  grid-template-rows: minmax(10vh, auto) repeat(3, max-content);
  grid-gap: 16px;
  overflow: hidden;

  min-height: Calc(100vh - 80px);
  width: 100vw;
  transform: translateX(-6%);
  background: #fefefe;

  color: rgb(var(--color-page-background));

  user-select: none;

  h1, h2 {
    margin: 0px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  h1 {
    font-size: 6vw;
    white-space: pre;

  }

  h2 {
    font-size: 3vw;
    white-space: pre;
  }


  a {
    color: rgb(var(--color-text));
    text-decoration: none;
  }

  img {
    margin: auto;
    //width: min(50%, 50vw);
    max-width: 80%;
  }
}

.--shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}