@import "colors";

:root {
  --color-page-background: #{$base-color};
  --color-text: #{$text-color};
  --invert-color: #{$blue};
}

.blue {
  --color-page-background: #{$blue};
  --color-text: #{$text-color};
  --invert-color: #{$base-color};
}

.red {
  --color-page-background: #{$red};
  --color-text: #{$text-color};
}

.light {
  --color-page-background: #{$white};
  --color-text: #{$base-color};
}

html {
  background: rgb(var(--color-page-background));
}

.App {
  text-align: center;
  min-height: 100%;

  background: rgb(var(--color-page-background));
  color: rgb(var(--color-text));

  width: 100%;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.Content {
  width: 90%;
  display: flex;
  flex-direction: column;
}
